@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  transition: all 0.3s ease-in-out;  
}

html {
  scrollbar-gutter: stable; /* Reserva espacio para el scrollbar siempre */
}

:root {
  --color1: #2d1103;
  --color1b: #3a1600;
  --color1t: #2d1103d3;
  --color2: #e4d7c4;
  --color2b: #faeed7;
  --color3: #421a06;
  --color4: #771200;
  --color5: #fffaf0;
  --color5b:#6b6b6b;
  --color6: black;

  --height: calc(100vh - 100px);

}
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: var(--color2);
  color: var(--color1);
}



.theme1{
  color: var(--color1);
  background-color: var(--color2);
  transition-duration: 0.5s;
}
.theme2{
  color: var(--color2);
  background-color: var(--color1);
  transition-duration: 0.5s;
}
.theme3{
  color: var(--color5);
  background-color: var(--color1);
  transition-duration: 0.1s;
}
.theme3b{
  color: var(--color5);
  background-color: var(--color1b);
  transition-duration: 0.5s;
}
.theme4{
  color: var(--color2);
  background-color: var(--color3);
  transition-duration: 0.5s;
}
.theme5{
  color: var(--color1);
  background-color: var(--color5);
  transition-duration: 0.1s;
}
.theme6{
  color: var(--color5b);
  background-color: var(--color5);
  transition-duration: 0.5s;
}
.themeCard{
  color: var(--color1);
  background-color: var(--color5);
  transition-duration: 0.5s;
}
.WSP{
  color: #4fcb5c;
  background-color: #fefefe;
}
.Merry{
  font-family: 'Merriweather', serif;
}
.mezclar{
  mix-blend-mode:multiply;
}

.Bigger:hover{
  transform: scale(1.2);
  transition-duration: 0.1s;
}
.BiggerMini:hover{
  transform: scale(1.1);
  transition-duration: 0.1s;
}
.BoxShine:hover{
  border: 2px solid var(--color2);
  box-shadow: 0 0 10px var(--color2), 0 0 20px var(--color2);
  transition-duration: 0.1s;
}
.BoxShine2:hover{
  border: 2px solid var(--color1);
  box-shadow: 0 0 5px var(--color1), 0 0 10px var(--color1);
  transition-duration: 0.1s;
}
.BoxShine3:hover{
  border: 4px solid var(--color2);
  box-shadow: 0 0 20px var(--color2b), 0 0 30px var(--color2b);
  transition-duration: 0.1s;
}
.TextShine:hover{
  color: var(--color2);
  text-shadow: 0 0 1px var(--color2), 0 0 2px var(--color2);
  transition-duration: 0.2s;
}
.TextShine2:hover{
  color: var(--color1);
  text-shadow: 0 0 1px var(--color1), 0 0 2px var(--color1);
  transition-duration: 0.2s;
}
.TextShine3:hover{
  color: var(--color-black);
  text-shadow: 0 0 0.6px var(--color-black), 0 0 1px var(--color-black);
  transition-duration: 0.2s;
}

.tallerCard{
  background-color: var(--color2);
  color: var(--color1);
  transition-duration: 0.3s;
  border-radius: 10px;
}
.CBShine:hover{
  border: 2px solid var(--color1);
  background-color: var(--color2);
  transition-duration: 0.1s
}
.textcolor:hover{
  color:var(--color2);
}
.hoverborder:hover{
  border: 2px solid var(--color1);
}
.Subrayado{
  color: var(--color1);
  background-color: var(--color2);
  display: grid;
  transition-duration: 0.2s;
  box-shadow: inset 0 -3px 0 0 currentColor; /* Subrayado interno */
}


.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color1);
  border-radius: 4px;
  background-color: var(--color1);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.custom-checkbox:checked {
  color: var(--color1);
  background-color: var(--color1);
  border-color: var(--color1);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23f5c987' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
}

.invisible-checkbox{
  width: 20px;
  height: 20px;
  border: 2px solid var(--color2);
  border-radius: 4px;
  background-color: var(--color2);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.invisible-checkbox:checked {
  color: var(--color2);
  background-color: var(--color2);
  border-color: var(--color2);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23f5c987' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.WSP-Glow {
  filter: none;
  transition: filter 0.3s ease;
}

.WSP-Glow:hover {
  filter: drop-shadow(0 0 4px var(--color5)) 
          drop-shadow(0 0 8px var(--color5));
}